@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset */
html,
body {
  height: 100%;
}

/* Typography tuning */
@layer base {
  body {
    @apply leading-relaxed tracking-[-0.01em];
  }

  h1 {
    @apply tracking-[-0.02em];
  }

  h2 {
    @apply tracking-[-0.015em];
  }
}